html, body {
    width: 100vw;
    height: 100vh;
    font-size: 0.70em;
}

.screen {
    height: 100%;
}
.col-main {
}
.col-menu {
    background-color: rgb(48, 41, 41);
    color: white;
}
.col-notification {
    background-color: gray;
}
.options-list {
    font-size: 1.6em;
}
.row {
    height: 100%;
    /*border: 2px solid yellowgreen;*/
}
.bi-reply-fill{
    padding: 1px 1px;
    margin-left: 5px;
    margin-right: 5px;
}
.bi-three-dots {
    padding: 1px 1px;
    margin-left: 5px;
    margin-right: 5px;
}
.bi-trash-fill {
    padding: 2px 2px;
    margin-left: 5px;
    margin-right: 5px;
}
/*
.card {
    border: none;
}
*/

textarea {
    resize: none;
}

#btn-compose {
    font-size: 2em;
    background-color: orange;
}
#notification-date {
    text-align: right;
}
#search-icon {
    padding: 4px;
    background-color: white; 
}
#attachment-icon {
    padding: 4px;
}


