/* Global Variables */
:root {
    --reply-btn-color: orange;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-size: 0.70em;
}
.screen {
    height: 100%;
}

textarea {
    resize: none;
}

.card {
    margin-top: 4rem;
}
.card-body {
    padding-bottom: .5rem;
} 
.col-menu {
    color: white;
    background-color: rgb(48, 41, 41);
    padding-left: 22px;
    padding-right: 36px;
}
.notification-col {
    background-color: gray;
}
.notification-date {
    float: right;
}
.notification-title {
    margin-bottom: 0.3rem;
}
.options-list {
    font-size: 1.6em;
    line-height: 2.2rem;
    margin-top: 30px;
    margin-bottom: 40px;
}
.row {
    height: 100%;
    /*border: 2px solid yellowgreen;*/
}
.bi-reply-fill{
    padding: 1px 1px;
    margin-left: 5px;
    margin-right: 5px;
}
.bi-three-dots {
    padding: 1px 1px;
    margin-left: 5px;
    margin-right: 5px;
}
.bi-trash-fill {
    padding: 2px 2px;
    margin-left: 5px;
    margin-right: 5px;
}
.email-reply-box:focus {
    /*box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);*/
   box-shadow: none;
}
.reply-box-container {
    padding-bottom: 34px;
    margin-top: 80px;
}
.welcome-msg {
    font-size: .5rem;
    margin-top: 10px;
    float: left;
}

#btn-compose {
    font-size: 1.5em;
    background-color: orange;
    margin-top: 28px;
    margin-bottom: 50px;
    margin-right: 400px;
    max-width: 120px;
}
#search-icon {
    padding: 4px;
    background-color: white; 
}
#attachment-icon {
    padding: 4px;
}


